<style>
    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }

    .blink_me {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>
<ngx-spinner color="#ed1c24" type="line-scale" size="medium"></ngx-spinner>

<div class="container-fluid" style="padding: 0 !important">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
        <div class="card" style="border: none;">
            <div class="card-body" style="padding: 0 !important;">
                <div class="card">
                    <div class="card-header"
                        style="background-color: #2f353b; color: white; padding: 15px; font-size: 20px;">
                        <b>
                        </b>
                    </div>
                    <div class="card-body">
                        <div style="padding: 25px;">
                            <table width="100%">
                                <thead>
                                    <tr style="width: 100%;">
                                        <td width="10%"></td>
                                        <td width="70%"> </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height="50px">
                                        <td> <label for="company"><b>ID</b></label></td>
                                        <td>
                                            <input type="number" class="form-control col-6"
                                                [(ngModel)]="filtro.cdAtendimento" placeholder="Digite o ID do chamado">
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Empresa</b></label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control col-6" [(ngModel)]="filtro.nmEmpresa"
                                                placeholder="Digite o nome da empresa">
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Tipo Atendimento</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="width: 100%;">
                                                <mat-select (selectionChange)="carregarEquipamentos()"
                                                    name="cdTipoAtendimento" [(ngModel)]="filtro.cdTipoAtendimento">
                                                    <mat-option *ngFor="let t of tiposAtendimento"
                                                        [value]="t.cdTipoAtendimento">
                                                        {{t.dsTipoAtendimento}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Tipo Equipamento</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="width: 100%;">
                                                <mat-select name="dsTipoEquipamento"
                                                    [(ngModel)]="filtro.dsTipoEquipamento">
                                                    <mat-option *ngFor="let e of tiposEquipamento" [value]="e">
                                                        {{e}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Técnico</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="width: 100%;">
                                                <mat-select name="cdLoginTecnico" [(ngModel)]="filtro.cdLoginTecnico">
                                                    <mat-option *ngFor="let tec of tecnicos" [value]="tec.cdLogin">
                                                        {{tec.nmUser}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Status</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="width: 100%;">
                                                <mat-select name="cdLoginTecnico" [(ngModel)]="filtro.stStatus">
                                                    <mat-option value="atendimento_pendente_confirmacao"
                                                        [selected]="true">
                                                        Aguardando Confirmação
                                                    </mat-option>
                                                    <mat-option value="atendimento_em_aberto">
                                                        Confirmado
                                                    </mat-option>
                                                    <mat-option value="atendimento_iniciado">
                                                        Iniciado
                                                    </mat-option>
                                                    <mat-option value="atendimento_concluido">
                                                        Finalizado
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="company" class="control-label"><b>Periodo Criação</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="margin-right: 20px;">
                                                <mat-label>De</mat-label>
                                                <input matInput name="dtPeriodoDe" (click)="dtPeriodoDe.open()"
                                                    [(ngModel)]="filtro.dtFiltroDe" [matDatepicker]="dtPeriodoDe">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoDe">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoDe></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Até</mat-label>
                                                <input matInput name="dtPeriodoAte" (click)="dtPeriodoAte.open()"
                                                    [(ngModel)]="filtro.dtFiltroAte" [matDatepicker]="dtPeriodoAte">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoAte">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoAte></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="company" class="control-label"><b>Periodo
                                                    Atendimento</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="margin-right: 20px;">
                                                <mat-label>De</mat-label>
                                                <input matInput name="dtPeriodoAtendimentoDe"
                                                    (click)="dtPeriodoAtendimentoDe.open()"
                                                    [(ngModel)]="filtro.dtFiltroAtendimentoDe"
                                                    [matDatepicker]="dtPeriodoAtendimentoDe">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoAtendimentoDe">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoAtendimentoDe></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Até</mat-label>
                                                <input matInput name="dtPeriodoAtendimentoAte"
                                                    (click)="dtPeriodoAtendimentoAte.open()"
                                                    [(ngModel)]="filtro.dtFiltroAtendimentoAte"
                                                    [matDatepicker]="dtPeriodoAtendimentoAte">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoAtendimentoAte">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoAtendimentoAte></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr><br>
                            <div class="form-group">
                                <button class="btn btn-fill btn-theme" (click)="buscar()" style="margin-right: 5px"><i
                                        class="fa fa-search"></i>&nbsp;Buscar</button>
                                <!-- <button class="btn btn-fill btn-theme" [routerLink]="['/chamado/detalhe']"
                                    [queryParams]="{new: 1}"><i class="fa fa-file"></i>&nbsp;Novo</button> -->
                                <button class="btn btn-fill btn-primary" (click)="confirmarSelecionados($event)"
                                    style="margin-right: 5px;"><i class="fa fa-check"></i>&nbsp;Confirmar
                                    Selecionados</button>
                                <button class="btn btn-fill btn-primary" (click)="exportarDados()"
                                    style="margin-right: 5px;"><i class="fa fa-file"></i>&nbsp;Exportar Dados</button>
                                <button style="margin-right: 5px;" class="btn btn-fill btn-theme"
                                    (click)="limpar()">Limpar</button>



                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 0;">
                        <table class="table table-striped">
                            <thead style="background: #24292e; color: white;">
                                <tr>
                                    <th style="padding: 15px; color: white;"></th>
                                    <th style="padding: 15px; color: white;">ID</th>
                                    <th style="padding: 15px; color: white;">RAT</th>
                                    <!-- <th style="padding: 15px; color: white;">Dt. Criação</th> -->
                                    <th></th>
                                    <th style="padding: 15px; color: white;">Dt. Atend.</th>
                                    <th style="padding: 15px; color: white;">Hr. Atend.</th>
                                    <th style="padding: 15px; color: white;">Empresa</th>
                                    <th style="padding: 15px; color: white;">Unidade</th>
                                    <th style="padding: 15px; color: white;">Tipo</th>
                                    <th style="padding: 15px; color: white;">Técnicos</th>
                                    <th style="padding: 15px; color: white;">Responsável</th>
                                    <th style="padding: 15px; color: white;">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let atendimento of atendimentos  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td><input *ngIf="atendimento.stStatus == 'atendimento_pendente_confirmacao'"
                                            type="checkbox" class="checkbox" value=true
                                            [(ngModel)]="atendimento.fgChecked" data-toggle="checkbox"></td>
                                    <td>{{atendimento.cdAtendimento}} </td>
                                    <td>{{atendimento.nrRat}}</td>
                                    <!-- <td>
                                        <span>{{atendimento.dtCriacao | date:'dd/MM/yyyy' }}</span>
                                    </td> -->
                                    <td>
                                        <i *ngIf="atendimento.fgAtrasado" style="font-size:25px"
                                            class="pe-7s-attention blink_me"></i>
                                    </td>
                                    <td>
                                        <span>{{atendimento.dtAtendimento | date:'dd/MM/yyyy' }} </span>
                                    </td>
                                    <td>
                                        <span>{{atendimento.dtAtendimento | date:'HH:mm' }}</span>
                                    </td>
                                   
                                    <td><b>{{atendimento.nmEmpresa}}</b></td>
                                    <td><b>{{atendimento.nmUnidade}}</b></td>
                                    <td>{{atendimento.dsTipoAtendimento}}</td>
                                    <td>
                                        <span *ngFor="let tecnico of atendimento.tecnicos">{{tecnico}} <br></span>
                                    </td>
                                    <td><span><b>Chamado aberto por:</b> {{atendimento.dsUserChamado}}</span> <br>
                                        <span><b>Atendimento aberto por:</b> {{atendimento.dsUserAtendimento}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="atendimento.stStatus == 'atendimento_pendente_confirmacao'"><b
                                                style="color: red;">Pendente Confirmação</b></span>
                                        <span *ngIf="atendimento.stStatus == 'atendimento_em_aberto'"><b
                                                style="color: rgb(49, 8, 196);">Confirmado</b></span>
                                        <span *ngIf="atendimento.stStatus == 'atendimento_iniciado'"><b
                                                style="color: orange;">Iniciado</b></span>
                                        <span *ngIf="atendimento.stStatus == 'atendimento_concluido'"><b
                                                style="color: green;">Finalizado</b></span>
                                    </td>
                                    <td>
                                        <button class="btn btn-theme" [routerLink]="['/atendimento/detalhe']"
                                            [queryParams]="{cdAtendimento: atendimento.cdAtendimento}">Detalhes</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ngb-pagination style="float: right; margin-right: 25px;" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="atendimentos.length" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    *ngIf="atendimentos.length > 0">
                </ngb-pagination>

            </div>
        </div>


    </div>
    <!--/.col-->
</div><!-- /.container-fluid -->