<style>
    @media (min-width: 1200px) {
        .padding-fix {
            margin-left: 200px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .padding-fix {
            margin-left: 100px;
        }
    }


    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }
</style>

<ngx-spinner></ngx-spinner>


<body style="background-image: url('../../assets/img/back2.jpg'); ">

    <!-- <div  style="text-align: center; padding: 280px;"> -->
    <div class="container">
        <div class="row" style="margin-bottom: 220px;"></div>
        <div class="row">
            <div class="col-lg-8 col-md-10 col-lg-12 padding-fix">
                <div style="text-align: center; height: 400px; background-color: rgba(0,0,0,0.5); padding: 50px;">
                    <img width="300px" src="../../assets/img/logo-ups-negativo.png">
                    <!-- <form> -->
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && !form.dsUser }">

                        <div class="input-group" style="margin-bottom: 10px; margin-top: 20px;">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>

                            <input type="text" [(ngModel)]="form.dsUser" class="form-control" placeholder="Usuário" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && !form.dsPass }">
                        <div class="input-group " style="margin-bottom: 15px;">
                            <span class="input-group-addon"><i class="fa pe-7s-key"></i></span>

                            <input type="password" [(ngModel)]="form.dsPass" class="form-control "
                                placeholder="Senha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button (click)="login()" [disabled]="loading" class="btn btn-fill btn-danger">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        &nbsp;
                        <button (click)="limpar()" [disabled]="loading" class="btn btn-fill btn-secundary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Limpar
                        </button>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</body>
<!-- </div> -->