<style>
    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }
</style>
<ngx-spinner color="#ed1c24" type="line-scale" size="medium"></ngx-spinner>

<div class="container-fluid" style="padding: 0 !important">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
        <div class="card" style="border: none;">
            <div class="card-body" style="padding: 0 !important;">
                <div class="card">
                    <div class="card-header"
                        style="background-color: #2f353b; color: white; padding: 15px; font-size: 20px;">
                        <b>
                        </b>
                    </div>
                    <div class="card-body">
                        <div style="padding: 25px;">
                            <table width="100%">
                                <thead>
                                    <tr style="width: 100%;">
                                        <td width="10%"></td>
                                        <td width="70%"> </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height="50px">
                                        <td> <label for="company"><b>ID</b></label></td>
                                        <td>
                                            <input type="number" class="form-control col-6"
                                                [(ngModel)]="filtro.cdAtendimento" placeholder="Digite o ID do chamado">
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Empresa</b></label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control col-6" [(ngModel)]="filtro.nmEmpresa"
                                                placeholder="Digite o nome da empresa">
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Tipo</b></label>
                                        </td>
                                        <td>
                                            <mat-form-field style="width: 100%;">
                                                <mat-select (selectionChange)="carregarEquipamentos()"
                                                    name="cdTipoAtendimento" [(ngModel)]="filtro.cdTipoAtendimento">
                                                    <mat-option *ngFor="let t of tiposAtendimento"
                                                        [value]="t.cdTipoAtendimento">
                                                        {{t.dsTipoAtendimento}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="company" class="control-label">Periodo Criação</label>
                                        </td>
                                        <td>
                                            <mat-form-field style="margin-right: 20px;">
                                                <mat-label>De</mat-label>
                                                <input matInput name="dtPeriodoDe" (click)="dtPeriodoDe.open()"
                                                    [(ngModel)]="filtro.dtFiltroDe" [matDatepicker]="dtPeriodoDe">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoDe">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoDe></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Até</mat-label>
                                                <input matInput name="dtPeriodoAte" (click)="dtPeriodoAte.open()"
                                                    [(ngModel)]="filtro.dtFiltroAte" [matDatepicker]="dtPeriodoAte">
                                                <mat-datepicker-toggle matSuffix [for]="dtPeriodoAte">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtPeriodoAte></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr><br>
                            <div class="form-group">
                                <button class="btn btn-fill btn-theme" (click)="buscar()" style="margin-right: 5px"><i
                                        class="fa fa-search"></i>&nbsp;Buscar</button>
                                <button class="btn btn-fill btn-theme" [routerLink]="['/chamado/detalhe']"
                                    [queryParams]="{new: 1}"><i class="fa fa-file"></i>&nbsp;Novo</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 0;">
                        <table class="table table-striped">
                            <thead style="background: #24292e; color: white;">
                                <tr>
                                    <th style="padding: 15px; color: white;">ID</th>
                                    <th style="padding: 15px; color: white;">Dt. Criação</th>
                                    <th style="padding: 15px; color: white;">Empresa</th>
                                    <th style="padding: 15px; color: white;">Unidade</th>
                                    <th style="padding: 15px; color: white;">Tipo</th>
                                    <th style="padding: 15px; color: white;">Responsável</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let chamado of chamados  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{chamado.cdAtendimento}}</td>
                                    <td>
                                        <span>{{chamado.dtCriacao | date:'dd/MM/yyyy' }}</span>
                                    </td>
                                    <td><b>{{chamado.nmEmpresa}}</b></td>
                                    <td><b>{{chamado.nmUnidade}}</b></td>
                                    <td>{{chamado.dsTipoAtendimento}}</td>
                                    <td>{{chamado.dsUserChamado}}</td>
                                    <td>
                                        <button class="btn btn-theme" [routerLink]="['/chamado/detalhe']"
                                            [queryParams]="{cdAtendimento: chamado.cdAtendimento}">Detalhes</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ngb-pagination style="float: right; margin-right: 25px;" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="chamados.length" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    *ngIf="chamados.length > 0">
                </ngb-pagination>

            </div>
        </div>


    </div>
    <!--/.col-->
</div><!-- /.container-fluid -->