<style>
    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }
</style>
<ngx-spinner color="#ed1c24" type="line-scale" size="medium"></ngx-spinner>

<div class="container-fluid" style="padding: 0 !important">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
        <div class="card" style="border: none;">
            <div class="card-body" style="padding: 0 !important;">
                <div class="card">
                    <div class="card-header"
                        style="background-color: #2f353b; color: white; padding: 15px; font-size: 20px;">
                        <b>
                        </b>
                    </div>
                    <div class="card-body">
                        <div style="padding: 25px;">
                            <table width="100%">
                                <thead>
                                    <tr style="width: 100%;">
                                        <td width="10%"></td>
                                        <td width="70%"> </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height="50px">
                                        <td> <label for="company"><b>Nome da Empresa</b></label></td>
                                        <td> <input type="text" class="form-control col-6"
                                                [(ngModel)]="filtro.nmEmpresa" placeholder="Digite o nome da empresa">
                                        </td>
                                    </tr>
                                    <tr height="50px">
                                        <td> <label for="company"><b>CNPJ</b></label>
                                        </td>
                                        <td> <input type="text" class="form-control col-6"
                                                [(ngModel)]="filtro.nrDocumento" placeholder="Digite o CNPJ"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr><br>
                            <div class="form-group">
                                <button class="btn btn-fill btn-theme" (click)="buscar()" style="margin-right: 5px"><i
                                        class="fa fa-search"></i>&nbsp;Buscar</button>
                                <button class="btn btn-fill btn-theme" [routerLink]="['/chamado/detalhe']"
                                    [queryParams]="{new: 1}"><i class="fa fa-file"></i>&nbsp;Novo</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 0;">
                        <table class="table table-striped">
                            <thead style="background: #24292e; color: white;">
                                <tr>
                                    <th style="padding: 15px; color: white;">ID</th>
                                    <th style="padding: 15px; color: white;">Empresa</th>
                                    <th style="padding: 15px; color: white;">CNPJ</th>
                                    <th style="padding: 15px; color: white;">I.E</th>
                                    <th style="padding: 15px; color: white;">Status</th>
                                    <th style="padding: 15px; color: white;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let cliente of clientes  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{cliente.cdEmpresa}}</td>
                                    <td><b>{{cliente.nmEmpresa}}</b></td>
                                    <td>
                                        <span>{{cliente.nrDocumento | mask: '00.000.000/0000-00' }}</span></td>
                                    <td>
                                        <span *ngIf="cliente.nrInscricaoEstadual">{{cliente.nrInscricaoEstadual}}</span>
                                        <span *ngIf="!cliente.nrInscricaoEstadual">Não informado</span>
                                    </td>
                                    <td *ngIf="cliente.stStatus == 'ativo'">Ativo</td>
                                    <td *ngIf="cliente.stStatus == 'inativo'">Inativo</td>
                                    <td>
                                        <button class="btn btn-theme" [routerLink]="['/cliente/detalhe']"
                                            [queryParams]="{cdCliente: cliente.cdEmpresa}">Detalhes</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <ngb-pagination style="float: right; margin-right: 25px;" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="clientes.length" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    *ngIf="clientes.length > 0">
                </ngb-pagination> -->

            </div>
        </div>


    </div>
    <!--/.col-->
</div><!-- /.container-fluid -->