<style>
    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }

    .modal-backdrop {
        z-index: 2;
    }

    .input-error input {
        border-color: red;
    }

    .input-error label{
        color:red;
    }
</style>

<ngx-spinner color="#ed1c24" type="line-scale" size="medium"></ngx-spinner>

<body>



    <!-- breaking change 'cui-breadcrumb' -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid" style="padding: 0 !important">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px;">
            <div class="card" style="border: none;">
                <div class="card-body" style="padding: 0;">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-body">
                                <form style="padding: 30px;">
                                    <input type="hidden">
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nmEmpresa}"> 
                                            <label for="company" >Nome da Empresa <span
                                                    style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nmEmpresa"
                                                [(ngModel)]="form.nmEmpresa" placeholder="Digite o nome da empresa"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nrDocumento}">
                                            <label for="vat">CNPJ <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" [dropSpecialCharacters]="false"
                                                [(ngModel)]="form.nrDocumento" mask='00.000.000/0000-00' name="nrCnpj"
                                                id="vat" placeholder="Digite o número do CNPJ">
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" >
                                            <label for="street">Inscrição Estadual</label>
                                            <input type="text" class="form-control" name="nrIe"
                                                [dropSpecialCharacters]="false" mask='000.000.000.000'
                                                [(ngModel)]="form.nrInscricaoEstadual"
                                                placeholder="Digite o número da Inscrição Estadual">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-2 col-md-2 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nrCep}">
                                            <label for="company">CEP <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nrCep"
                                                [dropSpecialCharacters]="true" mask='00000-000'
                                                (blur)="carregarEnderecoEmpresaByCep()" [(ngModel)]="form.nrCep"
                                                placeholder="Digite o CEP da empresa" required>
                                        </div>
                                        <div class="form-group col-lg-8 col-md-8 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nmRua}">
                                            <label for="company">Endereço <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nmRua"
                                                [(ngModel)]="form.nmRua" placeholder="Digite o endereço da empresa"
                                                required>
                                        </div>
                                        <div class="form-group col-lg-2 col-md-2 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nrNumero}">
                                            <label for="company">Número <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nrNumero"
                                                [(ngModel)]="form.nrNumero" placeholder="Digite o número da empresa"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" >
                                            <label for="company">Complemento 
                                                < </label>
                                                    <input type="text" class="form-control" name="dsComplemento"
                                                        [(ngModel)]="form.dsComplemento"
                                                        placeholder="Digite o complemento" required>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nmBairro}">
                                            <label for="company">Bairro <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nmBairro"
                                                [(ngModel)]="form.nmBairro" placeholder="Digite o bairro" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nmCidade}">
                                            <label for="street">Cidade <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nmCidade"
                                                [(ngModel)]="form.nmCidade" placeholder="Digite a cidade" required>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12" [class]="{'input-error': empresaFormSubmitted && !form.nmEstado}">
                                            <label for="vat">Estado <span style="color:red">*</span></label>
                                            <input type="text" class="form-control" name="nmEstado"
                                                [(ngModel)]="form.nmEstado" placeholder="Digite o estado" required>
                                        </div>

                                    </div>
                                    <hr>
                                    <button title="Editar" style="float: right;" (click)="addUnidade()"
                                        data-target="#modalDetalheUnidade" data-toggle="modal"
                                        class="btn btn-fill btn-info btn-simple btn-md">
                                        Novo
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <h4>Unidades</h4>
                                    <br>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Unidade</th>
                                                    <th>Endereço</th>
                                                    <th>Contato</th>
                                                    <th>Telefone</th>
                                                    <th>Contrato</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let u of form.unidades; let i = index">
                                                    <td><b>{{u.nmUnidade}}</b></td>
                                                    <td>
                                                        {{u.nmRua}} {{u.nrNumero}} {{u.dsComplemento}}
                                                        <br>{{u.nmBairro}}
                                                        <br>{{u.nmCidade}}/{{u.nmEstado}}
                                                    </td>
                                                    <td>{{u.nmContatoCli}}</td>
                                                    <td>{{u.nrTelefone}}</td>
                                                    <td>
                                                        <span *ngIf="u.fgClienteContrato == 0">Não</span>
                                                        <span *ngIf="u.fgClienteContrato == 1">Sim</span>
                                                    </td>
                                                    <td class="td-actions text-right">

                                                        <button  *ngIf="u.fgClienteContrato" [disabled]="!u.nrDuracaoContrato || !u.dtInicioContrato" rel="tooltip" title="Editar" style="margin-right: 5px;"
                                                            (click)="gerarAtendimentosContrato(u)"
                                                            class="btn btn-fill btn-primary btn-simple btn-md">
                                                            Gerar Atendimentos
                                                        </button>

                                                        <button rel="tooltip" title="Editar" style="margin-right: 5px;"
                                                            (click)="editarUnidade(u)"
                                                            data-target="#modalDetalheUnidade" data-toggle="modal"
                                                            class="btn btn-fill btn-info btn-simple btn-md">
                                                            Editar
                                                            <i class="fa fa-edit"></i>
                                                        </button>

                                                        <a rel="tooltip" title="Remove" (click)="inativarUnidade(u)"
                                                            *ngIf="u.fgAtivo == 1"
                                                            class="btn btn-danger btn-fill btn-simple btn-md">
                                                            Inativar
                                                            <i class="fa fa-trash"></i>
                                                        </a>

                                                        <a rel="tooltip" title="Remove" (click)="reativarUnidade(u)"
                                                            *ngIf="u.fgAtivo == 0"
                                                            class="btn btn-primary btn-fill btn-simple btn-md">
                                                            Reativar
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div>

                                        <button class="btn btn-fill btn-theme" (click)="salvar($event)"
                                            style="margin-right: 10px;">Salvar&nbsp;<i class="fa fa-save"></i></button>
                                        <button class="btn btn-fill btn-theme" [routerLink]="['/cliente/consulta']">
                                            Voltar&nbsp; <i class="fa fa-arrow-left"></i></button>
                                        <!-- <button class="btn btn-danger" style="margin-left: 5px;" value="0"
                                        (click)="mudarStatusEmpresa($event)"><i
                                            class="fa fa-close"></i>&nbsp;Inativar</button> -->
                                        <!-- <button class="btn btn-fill btn-theme" style="margin-left: 5px;" value="1"
                                        (click)="mudarStatusEmpresa($event)">Ativar</button> -->

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>


        </div>
        <!--/.col-->
    </div><!-- /.container-fluid -->

    <div class="modal fade" id="modalDetalheUnidade" role="dialog" data-backdrop="false" aria-hidden="true"
        style="z-index: 10;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3><b>Informações Unidade</b></h3>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="company">Nome da Unidade <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nmEmpresa" [(ngModel)]="item.nmUnidade"
                                placeholder="Digite o nome da empresa" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-2 col-sm-12">
                            <label for="company">CEP <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nrCep" [dropSpecialCharacters]="true"
                                mask='00000-000' (blur)="carregarEnderecoUnidadeByCep()" [(ngModel)]="item.nrCep"
                                placeholder="Digite o CEP da empresa" required>
                        </div>
                        <div class="form-group col-lg-8 col-md-8 col-sm-12">
                            <label for="company">Endereço <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nmRua" [(ngModel)]="item.nmRua"
                                placeholder="Digite o endereço da empresa" required>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-12">
                            <label for="company">Número <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nrNumero" [(ngModel)]="item.nrNumero"
                                placeholder="Digite o número da empresa" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="company">Complemento </label>
                            <input type="text" class="form-control" name="dsComplemento"
                                [(ngModel)]="item.dsComplemento" placeholder="Complemento da Unidade" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="company">Bairro  <span style="color:red">*</span> </label>
                            <input type="text" class="form-control" name="nmBairro" [(ngModel)]="item.nmBairro"
                                placeholder="Bairro da Unidade" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="street">Cidade <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nmCidade" [(ngModel)]="item.nmCidade"
                                placeholder="Cidade da Unidade" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="vat">Estado <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nmEstado" [(ngModel)]="item.nmEstado"
                                placeholder="Estado da Unidade" required>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="street">Contato Cliente <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nrTelefone" [(ngModel)]="item.nmContatoCli"
                                placeholder="Responsável Cliente" required>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="street">Telefone <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nrTelefone" [(ngModel)]="item.nrTelefone"
                                placeholder="Telefone para Contato" [dropSpecialCharacters]="false"
                                mask='(00) 0000-0000' required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="vat">Celular </label>
                            <input type="text" class="form-control" name="nrCelular" [(ngModel)]="item.nrCelular"
                                placeholder="Celular para Contato" [dropSpecialCharacters]="false"
                                mask='(00) 00000-0000' required>
                        </div>

                    </div>
                    <hr>
                    <h3><b>Informações Contrato</b></h3>
                    <div class="row">
                        <div class="checkbox col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" value=true [(ngModel)]="item.fgClienteContrato" id="checkbox1"
                                data-toggle="checkbox">
                            <label for="checkbox1">
                                Contrato Regular?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="street">Duração Contrato <span style="color:red">*</span></label>
                            <input type="number" class="form-control" name="nrDuracaoContrato"
                                [(ngModel)]="item.nrDuracaoContrato" [disabled]="!item.fgClienteContrato"
                                placeholder="Duração do contrato (Meses)" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="street">Data de início do contrato <span style="color:red">*</span></label>
                            <mat-form-field style="display: block;">
                                <mat-label>Início</mat-label>
                                <input matInput name="dtInicioContrato" [matDatepicker]="inicioContratoPicker"
                                    [(ngModel)]="item.dtInicioContrato" [disabled]="!item.fgClienteContrato"
                                    (click)="inicioContratoPicker.open()">
                                <mat-datepicker-toggle matSuffix [for]="inicioContratoPicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #inicioContratoPicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="vat">Dia Previsto </label>
                            <input type="number" class="form-control" name="nrDiaPrevisto"
                                [(ngModel)]="item.nrDiaPrevisto" [disabled]="!item.fgClienteContrato"
                                placeholder="Dia do mês previsto para o atendimento" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="vat">Técnico Previsto </label>
                            <select class="form-control" name="nrDiaPrevisto" [(ngModel)]="item.cdTecnicoPrevisto"
                                [disabled]="!item.fgClienteContrato" placeholder="Técnico previsto para o atendimento"
                                required>
                                <option *ngFor="let t of tecnicos" value="{{t.cdLogin}}"
                                    [selected]="item.cdTecnicoPrevisto == t.cdLogin">{{t.nmUser}}</option>

                            </select>
                        </div>
                    </div>
                    <hr>
                    <h3><b>Equipamentos Contrato</b></h3>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <input type="text" class="form-control" [(ngModel)]="equipamento.dsEquipamento"
                                style="display: inline-block;" [disabled]="!item.fgClienteContrato">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">

                            <select class="form-control" [(ngModel)]="equipamento.dsTipo">
                                <option *ngFor="let tipo of tiposEquipamento" value="{{tipo}}"
                                    [disabled]="!item.fgClienteContrato">{{tipo}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">

                            <button title="Editar" style="float: right;" (click)="addEquipamento(item)" 
                                [disabled]="(!item.fgClienteContrato) || (!equipamento.dsEquipamento || !equipamento.dsTipo)" class="btn btn-fill btn-info btn-simple btn-md">
                                Adicionar
                                <i class="fa fa-plus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="content table-responsive table-full-width"
                                style="padding-left: 15px; padding-right: 15px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Tipo</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let e of item.equipamentos; let i = index">
                                            <td>{{e.dsEquipamento}}</td>
                                            <td>{{e.dsTipo}}</td>
                                            <td class="td-actions text-right">

                                                <a rel="tooltip" title="Remove" (click)="removerEquipamento(item,i)"
                                                    class="btn btn-danger btn-fill btn-simple btn-md">
                                                    Deletar
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-fill btn-danger" [disabled]="(!item.fgClienteContrato && (!item.nmUnidade || !item.nmContatoCli || !item.nrTelefone || !item.nrCep 
                    || !item.nmRua || !item.nrNumero || !item.nmBairro 
                    || !item.nmCidade || !item.nmEstado) || (item.fgClienteContrato && (!item.nmUnidade || !item.nmContatoCli || !item.nrTelefone || !item.nrCep || item.equipamentos.length == 0
                    || !item.nmRua || !item.nrNumero || !item.nmBairro 
                    || !item.nmCidade || !item.nmEstado || !item.nrDuracaoContrato || !item.dtInicioContrato)))" (click)="salvarUnidade()">Salvar</button>
                </div>
            </div>
        </div>
    </div>


</body>
<!-- Button trigger modal -->
<!-- Modal -->