<style>
    input::-webkit-input-placeholder {
        color: black;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
    }

    .modal-backdrop {
        z-index: 2;
    }

    .input-error input {
        border-color: red;
    }

    .input-error label {
        color: red;
    }
</style>

<ngx-spinner color="#ed1c24" type="line-scale" size="medium"></ngx-spinner>

<body>



    <!-- breaking change 'cui-breadcrumb' -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid" style="padding: 0 !important">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px;">
            <div class="card" style="border: none;">
                <div class="card-body" style="padding: 0;">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-body">
                                <form style="padding: 30px;">
                                    <input type="hidden">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12"
                                            [class]="{'input-error': chamadoFormSubmitted && !form.cdEmpresa}">
                                            <mat-form-field appearance="fill" style="width: 100%;">
                                                <mat-label>Empresa <span style="color:red">*</span></mat-label>
                                                <mat-select (selectionChange)="carregarUnidades()" name="cdEmpresa"
                                                    [disabled]="form.cdAtendimento" [(ngModel)]="form.cdEmpresa">
                                                    <mat-option *ngFor="let e of empresas" [value]="e.cdEmpresa">
                                                        {{e.nmEmpresa}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12"
                                            [class]="{'input-error': chamadoFormSubmitted && !form.cdUnidade}">
                                            <mat-form-field appearance="fill" style="width: 100%;">
                                                <mat-label>Unidade <span style="color:red">*</span></mat-label>
                                                <mat-select [(ngModel)]="form.cdUnidade" name="cdUnidade"
                                                    [disabled]="form.cdAtendimento">
                                                    <mat-option *ngFor="let u of unidades" [value]="u.cdUnidade">
                                                        {{u.nmUnidade}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12"
                                            [class]="{'input-error': chamadoFormSubmitted && !form.cdTipoAtendimento}">
                                            <mat-form-field appearance="fill" style="width: 100%;">
                                                <mat-label>Tipo Atendimento <span style="color:red">*</span></mat-label>
                                                <mat-select (selectionChange)="carregarEquipamentos()"
                                                    name="cdTipoAtendimento"
                                                    [disabled]="form.cdAtendimento && form.stStatus == 'chamado'"
                                                    [(ngModel)]="form.cdTipoAtendimento">
                                                    <mat-option *ngFor="let t of tiposAtendimento"
                                                        [value]="t.cdTipoAtendimento">
                                                        {{t.dsTipoAtendimento}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-10 col-md-10 col-sm-12"
                                            [class]="{'input-error': chamadoFormSubmitted && !form.cdTipoAtendimento}">
                                            <mat-form-field appearance="fill" style="width: 100%;">
                                                <mat-label>Data Atendimento <span style="color:red">*</span></mat-label>
                                                <input matInput name="dtAtendimento" (click)="dtAtendimento.open()"
                                                    readonly [(ngModel)]="form.dtAtendimento"
                                                    [matDatepicker]="dtAtendimento">
                                                <mat-datepicker-toggle matSuffix [for]="dtAtendimento">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dtAtendimento></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-lg-2 col-md-2 col-sm-12"
                                            [class]="{'input-error': chamadoFormSubmitted && !form.hrAtendimento}">
                                            <mat-form-field appearance="fill" style="width: 100%;"
                                                class="example-full-width">
                                                <mat-label>Horário Atendimento <span style="color:red">*</span>
                                                </mat-label>
                                                <input matInput name="hrAtendimento" [dropSpecialCharacters]="false"
                                                    mask="00:00" [(ngModel)]="form.hrAtendimento">
                                            </mat-form-field>
                                        </div>
                                    </div>




                                    <!-- <hr> -->
                                    <h4>Descrição do Serviço <span style="color:red">*</span></h4>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <textarea class="form-control" type="text" name="dsDescricao"
                                                [(ngModel)]="form.dsDescricao"></textarea>
                                        </div>
                                    </div>

                                    <!-- <hr> -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-12">
                                            <h4>Status </h4>
                                            <input *ngIf="form.stStatus == 'chamado'" value='Chamado'
                                                class="form-control" type="text" name="dsDescricao" [disabled]="true">
                                            <input *ngIf="form.stStatus == 'atendimento_pendente_confirmacao'"
                                                value='Pendente Confirmação' class="form-control" type="text"
                                                name="dsDescricao" [disabled]="true">
                                            <input *ngIf="form.stStatus == 'atendimento_em_aberto'" value='Confirmado'
                                                class="form-control" type="text" name="dsDescricao" [disabled]="true">
                                            <input *ngIf="form.stStatus == 'atendimento_iniciado'" value='Iniciado'
                                                class="form-control" type="text" name="dsDescricao" [disabled]="true">
                                            <input *ngIf="form.stStatus == 'atendimento_concluido'" value='Finalizado'
                                                class="form-control" type="text" name="dsDescricao" [disabled]="true">
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12">
                                            <h4>Nº RAT</h4>
                                            <input value='{{form.nrRat}}' class="form-control" type="text" name="nrRat"
                                                [disabled]="true">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div  class="col-lg-3 col-md-3 col-sm-6">
                                            <h4>Iniciado Por</h4>
                                            <input value='{{form.iniciadoPor}}' class="form-control" type="text"
                                                name="dsDescricao" [disabled]="true">
                                        </div>
                                        <div  class="col-lg-3 col-md-3 col-sm-6">
                                            <h4>Iniciado Em</h4>
                                            <input value='{{form.dtInicio | date:"dd/MM/yyyy HH:mm" }}' class="form-control" type="text" name="nrRat"
                                                [disabled]="true">
                                        </div>
                                        <div  class="col-lg-3 col-md-3 col-sm-6">
                                            <h4>Finalizado Em </h4>
                                            <input value='{{form.dtFim | date:"dd/MM/yyyy HH:mm" }}' class="form-control" type="text" name="dsDescricao"
                                                [disabled]="true">
                                        </div>
                                        <div  class="col-lg-3 col-md-3 col-sm-6">
                                            <h4>Finalizado Por</h4>
                                            <input value='{{form.finalizadoPor}}' class="form-control" type="text"
                                                name="nrRat" [disabled]="true">
                                        </div>
                                    </div>

                                    <hr>

                                    <h4>Equipamentos <span *ngIf="!form.cdAtendimento" style="color:red">*</span></h4>
                                    <div class="row" *ngIf="!form.cdAtendimento">
                                        <div class="col-lg-5 col-md-5 col-sm-12">
                                            <input type="text" class="form-control" name="dsEquipamento"
                                                [disabled]="form.cdAtendimento && form.stStatus == 'chamado'"
                                                [(ngModel)]="equipamento.dsEquipamento" style="display: inline-block;">
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-12">
                                            <mat-form-field style="width: 100%;">
                                                <mat-label>Tipo</mat-label>
                                                <mat-select
                                                    [disabled]="form.cdAtendimento && form.stStatus == 'chamado'"
                                                    [(ngModel)]="equipamento.dsTipo" name="tiposEquipamento">
                                                    <mat-option *ngFor="let tipo of tiposEquipamento" [value]="tipo">
                                                        {{tipo}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12">

                                            <button title="Editar" style="float: right;" (click)="addEquipamento()"
                                                [disabled]="form.cdAtendimento && form.stStatus == 'chamado'"
                                                class="btn btn-fill btn-info btn-simple btn-md"
                                                [disabled]="!equipamento.dsEquipamento || !equipamento.dsTipo">
                                                Adicionar
                                                <i class="fa fa-plus"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Tipo</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let e of form.equipamentos; let i = index">
                                                    <td><b>{{e.dsEquipamento}}</b></td>

                                                    <td>{{e.dsTipo}}</td>

                                                    <td class="td-actions text-right">


                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <hr>

                                    <h4>Técnicos <span style="color:red">*</span></h4>
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-12">
                                            <mat-form-field style="width: 100%;">
                                                <mat-label>Técnico</mat-label>
                                                <mat-select [(ngModel)]="tecnico" name="tecnicos">
                                                    <mat-option *ngFor="let t of tecnicos" [value]="t">
                                                        {{t.nmUser}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12">

                                            <button title="Editar" style="float: right;" (click)="addTecnico()"
                                                class="btn btn-fill btn-info btn-simple btn-md" [disabled]="!tecnico">
                                                Adicionar
                                                <i class="fa fa-plus"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let t of form.tecnicos; let i = index">
                                                    <td><b>{{t.nmUser}}</b></td>

                                                    <td class="td-actions text-right">
                                                        <a rel="tooltip" title="Remove" (click)="removerTecnico(i)"
                                                            class="btn btn-danger btn-fill btn-simple btn-md">
                                                            Deletar
                                                            <i class="fa fa-trash"></i>
                                                        </a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <hr>

                                    <div>

                                        <button class="btn btn-fill btn-theme" (click)="salvar($event)"
                                            style="margin-right: 10px;">Salvar&nbsp; <i class="fa fa-save"></i></button>
                                        <button class="btn btn-fill btn-primary" (click)="confirmarAtendimento($event)"
                                            *ngIf="form.stStatus == 'atendimento_pendente_confirmacao'"
                                            style="margin-right: 10px;">Confirmar&nbsp; <i
                                                class="fa fa-check"></i></button>
                                        <button class="btn btn-fill btn-theme" [routerLink]="['/atendimento/consulta']">
                                            Voltar&nbsp; <i class="fa fa-arrow-left"></i></button>
                                        <!-- <button class="btn btn-danger" style="margin-left: 5px;" value="0"
                                        (click)="mudarStatusEmpresa($event)"><i
                                            class="fa fa-close"></i>&nbsp;Inativar</button> -->
                                        <!-- <button class="btn btn-fill btn-theme" style="margin-left: 5px;" value="1"
                                        (click)="mudarStatusEmpresa($event)">Ativar</button> -->

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>


        </div>
        <!--/.col-->
    </div><!-- /.container-fluid -->

</body>
<!-- Button trigger modal -->
<!-- Modal -->